{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="row">
    <div class="has-bg-img bg-purple bg-blend-overlay" style="height: 100px;">
        <img class="bg obj-fit-cover" src="{% static '/img/rupali-homepage.png' %}" alt="" width="100%">
    </div>
    <div class="col-md-8 text-white">
        <h1>Hi, This is Rupali Mishra</h1>
        <h3>I'm Tech Enthusiast, developer by profession <br> wanderer, curious to learn and grow.</h3>
        <br>
        <h4> Check me out on GitHub and Medium :</h4>
        <a href="https://github.com/rupalimishra-v2"
                   class="btn btn-primary">
                    GitHub
                </a> <br><br><br>
        <a href="https://rupalimishra-v2.medium.com/"
                   class="btn btn-primary">
                    Medium
                </a>
    </div>
</div>
{% endblock %}
