<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rupali Mishra</title>
{#	<link rel="shortcut icon" href="letterA.png" type="image/letterA">#}
{#	<link rel="icon" href="letterA.png" type="image/letterA">#}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredoka+One&family=Unkempt:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Chewy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" >
</head>

<body>
    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <header class = "sticky">
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </header>
    <!-- End header -->
    <div id="lead">
      <div id="particles-js">
        <div id="lead-content">

            <h1>Rupali Mishra</h1>

          <div class = "typewriter">
            <h2>Software Developer. Engineer. Learner.                 </h2>
          </div>

                    <a href="/avenger/static/Rupali_Resume.pdf" download="Rupali_Resume.pdf" class="btn-rounded-white">Download Resume</a>
          </div>

          </div>
        </div>

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>


    <div id="about">

            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <img src="/static/img/Rupali.png" alt="Rupali Mishra" width="187" height = "189" style="border-radius: 50%" />
                        <br>
                        <h3 class="heading">ABOUT ME</h3>
                    </div>
                    <div class="col-md-7">
                        <br>
                        <p>
                            Hi! I am a software engineer as well as Co-founder at Shakatarian which is a India based organic food startup.
<br><br>
                            I was previously working with Nutanix where I was responsible for enhancing the functionality of SaaS product in terms of Cost.
<br><br>
                            I have also completed internships at Minjar Cloud Solutions and Tech Mahindra and built service scalable upto millions of concurrent users single-handedly.
<br><br>
                            I love to code, and have gained experience with over 5 programming languages and a variety
                            of modern technologies through my internships and personal projects.
                            All of these can be found in my resume as well as below!
<br><br>
                            Check out my experience, skills, education, and a few personal projects I have worked on below!

                        </p>
                    </div>
                </div>
            </div>

        </div>

    <div id="experience" class="background-alt">

        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
            <div data-date="March 2021 – Present">
                <h3><a href="https://shakatarian.com/">SHAKATARIAN</a></h3>
                <h4><b>Software Engineer and Co-founder</b></h4>
                <ul style="color:white;font-family:Arial">
                  <li>Developed e-commerce website with the help of WordPress since we wanted to save on infrastructure
                      and management cost until we have decent count of regular customers.</li>

                 <li>The products labels were designed by me with the help of easy designing tool called Canva.</li>
                    <li>Enhanced the functionality of few built-in plugins to support some of product specific use cases.</li>


                </ul>
                <div class="logo">
                   <img src="/static/img/Shakatarian.png" alt="shakatarian" width="150"/>
               </div>
            </div>


            <div data-date="March 2018 – May 2021">
                <h3>Nutanix Technologies Private Limited</h3>
                <h4><b>Member of Technical Staff</b></h4>
                <ul style="color:white;font-family:Arial">
                  <li></li>
                    <li></li>
                    <li></li>
                    <li>Learned Docker and Ansible in order to successfully deploy servers and containers on an AWS cloud environment.</li>
</ul>
                <div class="logo1">
                   <img src="/static/img/name.png" alt="nutanix" width="150"/>
               </div>
            </div>

            <div data-date="January 2018 – March 2018">
                <h3>Minjar Cloud Solutions</h3>
                <h4><b>Software Engineering Intern</b></h4>
                <ul style="color:white;font-family:Arial">
                  <li></li>
                    <li></li>
                    <li></li>
</ul>
                <div class="logo2">
                   <img src="/static/img/name.png" alt="minjar" width="150"/>
               </div>
            </div>
        </div>

  </div>
    <!-- End #experience -->

    <div id="education">

        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>Vellore Institute Of Technology</h3>
            <span class="education-date">July 2014 - June 2018</span>
            <h4>Bachelor of Technology in Information Technology</h4>
            <ul>
                <li>
                    GPA: 8.26 / 10.00
                </li>
                <li>
                    Member of Environment Club - conducted various awareness campaigns and events
                </li>
                <li>
                    Member of ACM community
                </li>
            </ul>
            <div class="logo3">
               <img src="/static/img/name.png" alt="vit" width="150"/>
           </div>
        </div>
    </div>

    <div id="projects" class="background-alt">

        <h2 class="heading">Projects</h2>
        <div class="container">
            <div class="row">


                <div class="project shadow-large">
                    <div class="project-image1">
                      <a href="http://www.cfb.anishthakker.com/">
                        <img src="/static/img/name.png" />
                      </a>
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>College Football Recruiting War</h3>
                        <ul>
                          <li>A web application that provides data on recruiting battles amongst college football programs.</li>
                          <li>Deployed on AWS using an EC2 instance.</li>
                          <li>Front end written using Shiny.</li>
                          <li>Back end data operations done using R.</li>
                        </ul>
                      <a href="http://www.cfb.anishthakker.com/" class="buttonBack1">Check it out!</a>
                      <a href="https://github.com/anish-thakker/CFB-recruiting-war/blob/master/README.md" class="buttonBack3">Read more</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->


                <div class="project shadow-large">
                    <div class="project-image1">
                      <a href="https://github.com/anish-thakker/SOLELINKS_twitter_bot">
                        <img src="/static/img/name.png" />
                      </a>
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>SOLELINKS Twitter Bot</h3>
                        <ul>
                          <li>A bot that alerts users via text when user-specified brand deals are tweeted on the SOLELINKS twitter page.</li>
                          <li>Created for the purpose of helping sneaker fans (such as myself) get a jump on sneaker deals when they are announced.</li>
                          <li>Written in Python. Utilized the Twitter API for twitter monitoring and the Twilio API for SMS messaging alerts.</li>
                        </ul>
                        <a href="https://github.com/anish-thakker/SOLELINKS_twitter_bot" class="buttonBack2">Check it out!</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
                <div class="project shadow-large">

                    <div class="project-image1">
                      <a href="https://www.backtobackswe.com/">
                        <img src="/static/img/name.png" />
                      </a>
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Back to Back SWE - Staff Writer</h3>
                        <ul>
                          <li>A platform used by thousands of software engineers to learn data structures and algorithms.</li>
                          <li>Writing solutions to over 100 common data structure and algorithm questions in  6 different languages.</li>
                          <li>Languages include Java, Python, C++, C#, JavaScript, and Swift.</li>

                        </ul>
                      <a href="https://www.backtobackswe.com/" class="buttonBack">Check it out!</a>
                    </div>
                    <!-- End .project-info -->
                </div>
            </div>
        </div>

    </div>
    <!-- End #projects -->

    <div id="skills">

        <h2 class="heading">Skills</h2>
        <div class="container">
          <h2 class = "skilly">Languages</h2>
        <ul>
            <li>Java</li>
            <li>Python</li>
            <li>C</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
          <h2 class = "skilly">Tools</h2>
          <ul>
            <li>AWS</li>
            <li>Docker</li>
            <li>Git</li>
        </ul>

        <h2 class = "skilly">Coursework</h2>
        <ul>
          <li>Computer Vision</li>
          <li>Intro to Deep Learning</li>
          <li>Intro to Artificial Intelligence</li>
          <li>Intro to Data Science</li>
          <li>Intro to Machine Learning</li>
          <li>Advanced Data Structures</li>
          <li>Algorithms</li>
      </ul>
      </div>

    </div>
    <!-- End #skills -->

    <div id="contact">

        <h2 class="heading">Get in Touch!</h2>
        <h4>Email Address: rupali.mishra304@gmail.com</h4>
        <h4>Phone Number: 9952592200</h4>

      <div>
                <a href="https://www.linkedin.com/in/rupalimishra-v2/" target="_blank"><i class="fa fa-linkedin fa-4x"style="color: white;" aria-hidden="true"></i></a>
                <img src="/static/img/name.png" alt="Rupali Mishra" width="150" />
                <a href="mailto:rupali.mishra304@gmail.com" target="_blank"><i class="fa fa-envelope fa-4x" style="color: white;" aria-hidden="true"></i></a>
                <img src="/static/img/name.png" alt="Rupali Mishra" width="150" />
                <a href="tel:9952592200" target="_blank"><i class="fa fa-mobile fa-4x"style="color: white;" aria-hidden="true"></i></a>
                <img src="/static/img/name.png" alt="Rupali Mishra" width="150" />
                <a href="https://github.com/rupalimishra-v2" target="_blank"><i class="fa fa-github fa-4x"style="color: white;" aria-hidden="true"></i></a>
      </div>
        <!-- End #contact-form -->
      </div>

    <!-- End #contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2020 Rupali Mishra
                    </p>
                </div>
                <div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/anishthakker/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="mailto:anish.thakker1@gmail.com/" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="tel:2404447747" target="_blank"><i class="fa fa-mobile" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/anish-thakker" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                </div>

        </div>
        </div>
    </footer>

    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/particles.min.js"></script>
    <script src="../js/scripts.min.js"></script>
</body>

</html>
